/* Show Facebook Computer Vision Tags */
.sfcvt {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  font-size: 12px;
  line-height: 1.8;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  border-radius: 5px;
}
